In [2]:
import re
import pandas as pd

In [3]:
data = pd.read_csv("../Datos/historicos-pib.csv", header=None).T # series en vertical
data.iloc[0,:2] = ["Año", "Trimestre"] # Renombrando columnas
columns = data.iloc[0] # Obteniendo nombre de las columnas
data = data.iloc[1:,:] # Quedándonos con la serie solamente

# expresión regular para quedarnos nada mas con el nombre de los sectores
pattern = re.compile(r"[\w .-]* - ")
new_columns = columns.apply(lambda col: pattern.sub("", col))
data.columns = new_columns

data.Año.fillna(method="pad", inplace = True) # rellenando columna de años
data.set_index(["Año", "Trimestre"], inplace=True) # multindex de año y trimestre
data

0              Impuestos sobre los productos, netos Agricultura  \
Año  Trimestre
1993 T1                                     388 594     216 828
     T2                                     388 084     209 611
     T3                                     379 390     179 794
     T4                                     422 664     245 272
     6 Meses                                388 339     213 220
...                                             ...         ...
2020 T3P                                    713 290     305 998
     T4                                         NaN         NaN
     6 Meses                                701 259     371 996
     9 Meses                                705 270     349 996
     Anual                                      NaN         NaN

0              Cría y explotación de animales Aprovechamiento forestal  \
Año  Trimestre
1993 T1                               111 883                   17 803
     T2                               126 136                   17 044
     T3                               146 416                   16 858
     T4                               133 375                   16 537
     6 Meses                          119 010                   17 424
...                                       ...                      ...
2020 T3P                              193 131                   17 010
     T4                                   NaN                      NaN
     6 Meses                          177 412                   17 036
     9 Meses                          182 652                   17 028
     Anual                                NaN                      NaN

0              Pesca, caza y captura  \
Año  Trimestre
1993 T1                        9 059
     T2                       10 803
     T3                        8 911
     T4                       10 099
     6 Meses                   9 931
...                              ...
2020 T3P                      14 996
     T4                          NaN
     6 Meses                  13 754
     9 Meses                  14 168
     Anual                       NaN

0              Servicios relacionados con las actividades agropecuarias y forestales  \
Año  Trimestre
1993 T1                                                       649
     T2                                                       498
     T3                                                       582
     T4                                                       730
     6 Meses                                                  573
...                                                           ...
2020 T3P                                                    1 056
     T4                                                       NaN
     6 Meses                                                1 433
     9 Meses                                                1 307
     Anual                                                    NaN

0              Extracción de petróleo y gas  \
Año  Trimestre
1993 T1                             865 047
     T2                             895 218
     T3                             901 125
     T4                             923 834
     6 Meses                        880 133
...                                     ...
2020 T3P                            591 111
     T4                                 NaN
     6 Meses                        603 906
     9 Meses                        599 641
     Anual                              NaN

0              Minería de minerales metálicos y no metálicos, excepto petróleo y gas  \
Año  Trimestre
1993 T1                                                    85 393
     T2                                                    84 089
     T3                                                    87 084
     T4                                                    92 063
     6 Meses                                               84 741
...                                                           ...
2020 T3P                                                  175 625
     T4                                                       NaN
     6 Meses                                              156 593
     9 Meses                                              162 937
     Anual                                                    NaN

0              Servicios relacionados con la minería  \
Año  Trimestre
1993 T1                                       20 400
     T2                                       17 743
     T3                                       16 250
     T4                                       17 810
     6 Meses                                  19 072
...                                              ...
2020 T3P                                      71 045
     T4                                          NaN
     6 Meses                                  96 637
     9 Meses                                  88 107
     Anual                                       NaN

0              Generación, transmisión y distribución de energía eléctrica  \
Año  Trimestre
1993 T1                                                    62 672
     T2                                                    66 521
     T3                                                    70 185
     T4                                                    66 255
     6 Meses                                               64 596
...                                                           ...
2020 T3P                                                  233 329
     T4                                                       NaN
     6 Meses                                              204 062
     9 Meses                                              213 818
     Anual                                                    NaN

0               ... Hospitales  \
Año  Trimestre  ...
1993 T1         ...    104 804
     T2         ...    108 216
     T3         ...    108 421
     T4         ...    111 014
     6 Meses    ...    106 510
...             ...        ...
2020 T3P        ...    229 139
     T4         ...        NaN
     6 Meses    ...    212 321
     9 Meses    ...    217 927
     Anual      ...        NaN

0              Residencias de asistencia social y para el cuidado de la salud. Otros servicios de asistencia social  \
Año  Trimestre
1993 T1                                                    11 298
     T2                                                    11 265
     T3                                                    11 315
     T4                                                    11 263
     6 Meses                                               11 282
...                                                           ...
2020 T3P                                                    5 521
     T4                                                       NaN
     6 Meses                                                8 737
     9 Meses                                                7 665
     Anual                                                    NaN

0              Servicios artísticos, culturales y deportivos, y otros servicios relacionados  \
Año  Trimestre
1993 T1                                                    20 840
     T2                                                    18 608
     T3                                                    17 537
     T4                                                    19 574
     6 Meses                                               19 724
...                                                           ...
2020 T3P                                                   18 645
     T4                                                       NaN
     6 Meses                                               21 805
     9 Meses                                               20 752
     Anual                                                    NaN

0              Museos, sitios históricos, zoológicos y similares. Servicios de entretenimiento en instalaciones recreativas y otros servicios recreativos  \
Año  Trimestre
1993 T1                                                    47 306
     T2                                                    46 292
     T3                                                    43 866
     T4                                                    42 399
     6 Meses                                               46 799
...                                                           ...
2020 T3P                                                   10 034
     T4                                                       NaN
     6 Meses                                               17 892
     9 Meses                                               15 273
     Anual                                                    NaN

0              Servicios de alojamiento temporal  \
Año  Trimestre
1993 T1                                  107 572
     T2                                   91 452
     T3                                   93 978
     T4                                   85 576
     6 Meses                              99 512
...                                          ...
2020 T3P                                  72 953
     T4                                      NaN
     6 Meses                             105 014
     9 Meses                              94 327
     Anual                                   NaN

0              Servicios de preparación de alimentos y bebidas  \
Año  Trimestre
1993 T1                                                199 712
     T2                                                243 747
     T3                                                247 239
     T4                                                217 506
     6 Meses                                           221 730
...                                                        ...
2020 T3P                                               117 037
     T4                                                    NaN
     6 Meses                                           142 356
     9 Meses                                           133 916
     Anual                                                 NaN

0              Servicios de reparación y mantenimiento Servicios personales  \
Año  Trimestre
1993 T1                                         54 022              106 013
     T2                                         49 428              109 694
     T3                                         45 515              101 512
     T4                                         54 444              106 026
     6 Meses                                    51 725              107 853
...                                                ...                  ...
2020 T3P                                        72 297              127 278
     T4                                            NaN                  NaN
     6 Meses                                    63 151              131 553
     9 Meses                                    66 200              130 128
     Anual                                         NaN                  NaN

0              Asociaciones y organizaciones. Hogares con empleados domésticos  \
Año  Trimestre
1993 T1                                                    86 280
     T2                                                    85 388
     T3                                                    85 966
     T4                                                    88 529
     6 Meses                                               85 834
...                                                           ...
2020 T3P                                                  110 919
     T4                                                       NaN
     6 Meses                                              118 428
     9 Meses                                              115 925
     Anual                                                    NaN

0              Actividades legislativas, gubernamentales, de impartición de justicia y de organismos internacionales y extraterritoriales
Año  Trimestre
1993 T1                                                   570 255
     T2                                                   567 517
     T3                                                   564 583
     T4                                                   562 378
     6 Meses                                              568 886
...                                                           ...
2020 T3P                                                  707 213
     T4                                                       NaN
     6 Meses                                              739 542
     9 Meses                                              728 766
     Anual                                                    NaN

[196 rows x 135 columns]